<h2>My Tasks</h2>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to "#{task.title}", task_path(task) %>
    <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: "Are you sure?" }%></li>
  <% end %>
</ul>

<%= link_to 'Create new Task', new_task_path %>